.lg-btn {
  background-color: $main-blue;
  border: none;
  border-bottom: 0.6rem solid darken($main-blue, 10%);
  border-radius: 2%;
  color: white;
  font-weight: bold;
  font-size: $l-size;
  letter-spacing: 0.15rem;
  margin-bottom: $m-size;
  padding: 2.4rem;
  outline: none;
  transition: color 0.3s ease;
  width: 100%;
}

.lg-btn:hover {
  color: $orange;
}

.lg-btn:disabled {
  opacity: 0.5;
  color: white;
}

.btn {
  background-color: $main-blue;
  border: none;
  border-bottom: 0.3rem solid darken($main-blue, 10%);
  border-radius: 2%;
  color: white;
  font-weight: 500;
  outline: none;
  padding: $s-size;
  transition: color 0.3s ease;
}

.btn:hover {
  color: $orange;
}

.btn--link {
  background: none;
  border: none;
  color: $off-white;
  padding: 0;
  transition: color 0.3s ease;
}

.btn--link:hover {
  color: $orange;
}

@media (min-width: $desktop-breakpoint) {
  .lg-btn {
    margin-bottom: $xl-size;
  }
}
