html {
  font-size: 62.5%;
}

body {
  background-color: $dk-blue;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  letter-spacing: 0.1rem;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
